## 11.1 日期、時間日期型態以及工具

In [4]:
from datetime import datetime

now = datetime.now()
now

datetime.datetime(2021, 11, 2, 20, 56, 53, 937475)

In [6]:
now.year, now.month, now.day

(2021, 11, 2)

In [7]:
# 時間差: timedelta
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24,  8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [10]:
delta.days, delta.seconds

(926, 56700)

In [19]:
# 時間位移: datetime +(-) timedelta
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [20]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### 字串和時間日期轉換

In [22]:
# 時間轉成字串
stamp = datetime(2011, 1, 3)
str(stamp), stamp.strftime('%Y-%m-%d')

('2011-01-03 00:00:00', '2011-01-03')

In [23]:
# 字串轉成日期
value = '2011-01-03'

datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [24]:
# 字串轉成日期
datestrs = ['7/6/2011', '8/6/2011']

[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [27]:
# 字串拆解日期- dateutil - parser.parse
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [28]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [29]:
# 日期寫在月份前面
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [30]:
# pandas使用日期陣列
import pandas as pd
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [31]:
# 處理被視為遺失值的值
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [32]:
idx[2]

NaT

In [33]:
pd.isnull(idx)

array([False, False,  True])

## 11.2 時間序列基本概念

In [2]:
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), 
         datetime(2011, 1, 7), datetime(2011, 1, 8), 
         datetime(2011,1, 10), datetime(2011, 1, 12)]

In [5]:
import numpy as np
import pandas as pd
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -2.435188
2011-01-05   -0.553403
2011-01-07    0.708294
2011-01-08   -1.689811
2011-01-10    0.615552
2011-01-12    1.776200
dtype: float64

In [41]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [42]:
ts + ts[::2]   # ::2 --> 每隔 2個元素做選取

2011-01-02    0.827233
2011-01-05         NaN
2011-01-07   -0.812149
2011-01-08         NaN
2011-01-10   -1.120092
2011-01-12         NaN
dtype: float64

In [46]:
ts.index.dtype    # 資料型態:Numpy 的 datetime64 ； 精確度:微秒

dtype('<M8[ns]')

In [48]:
stamp = ts.index[0]
stamp             # 取回的資料: pandas 的 Timestamp

Timestamp('2011-01-02 00:00:00')

### 索引、選取和相減

In [6]:
stamp = ts.index[2]
stamp

Timestamp('2011-01-07 00:00:00')

In [7]:
ts[stamp]

0.7082936010715086

In [8]:
ts['1/10/2011']

0.6155521097312464

In [9]:
ts['20110110']

0.6155521097312464

In [10]:
# 選取資料切片
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01   -0.721923
2000-01-02   -1.030992
2000-01-03    0.230914
2000-01-04   -0.534521
2000-01-05    0.771338
                ...
2002-09-22   -0.092284
2002-09-23   -1.976476
2002-09-24   -0.805899
2002-09-25   -2.034389
2002-09-26    0.560733
Freq: D, Length: 1000, dtype: float64

In [11]:
longer_ts['2001']

2001-01-01   -1.165143
2001-01-02    1.247136
2001-01-03   -0.890946
2001-01-04   -1.103620
2001-01-05    0.029988
                ...
2001-12-27   -1.426795
2001-12-28   -1.258234
2001-12-29   -0.608596
2001-12-30    0.287413
2001-12-31   -0.012071
Freq: D, Length: 365, dtype: float64

In [12]:
longer_ts['2001-05']

2001-05-01    1.489671
2001-05-02   -0.522258
2001-05-03   -1.866674
2001-05-04    0.250285
2001-05-05    1.655474
2001-05-06    1.101517
2001-05-07    0.820071
2001-05-08    0.429065
2001-05-09   -0.580830
2001-05-10    0.094349
2001-05-11   -1.749111
2001-05-12   -0.928305
2001-05-13    0.424724
2001-05-14    0.038743
2001-05-15    0.360357
2001-05-16   -0.647105
2001-05-17   -2.059497
2001-05-18    0.269161
2001-05-19   -2.202685
2001-05-20   -0.414120
2001-05-21   -2.410713
2001-05-22   -0.202879
2001-05-23    1.019763
2001-05-24    0.179787
2001-05-25   -0.129806
2001-05-26   -2.253232
2001-05-27    0.195005
2001-05-28   -0.410824
2001-05-29    1.523333
2001-05-30   -2.248106
2001-05-31   -0.712723
Freq: D, dtype: float64

In [13]:
# 利用datetime物件作切片
ts[datetime(2011, 1, 7):]

2011-01-07    0.708294
2011-01-08   -1.689811
2011-01-10    0.615552
2011-01-12    1.776200
dtype: float64

In [14]:
# 利用時間截記切掉不屬於該期間的資料
ts

2011-01-02   -2.435188
2011-01-05   -0.553403
2011-01-07    0.708294
2011-01-08   -1.689811
2011-01-10    0.615552
2011-01-12    1.776200
dtype: float64

In [15]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.708294
2011-01-08   -1.689811
2011-01-10    0.615552
dtype: float64

In [16]:
# truncate: 做兩個日期間的切片
ts.truncate(after='1/9/2011')

2011-01-02   -2.435188
2011-01-05   -0.553403
2011-01-07    0.708294
2011-01-08   -1.689811
dtype: float64

In [18]:
# 也可用在 DateFrame
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [22]:
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas', 'New York', 'Ohio'])
long_df

            Colorado     Texas  New York      Ohio
2000-01-05 -0.051796  0.577809 -1.001923  0.516136
2000-01-12  0.297804 -0.718448 -0.359323  0.066108
2000-01-19  0.923435  0.576909 -0.166146  0.123563
2000-01-26  0.689915  0.556961 -0.932490  1.195208
2000-02-02 -0.046690  1.621740  0.498755 -0.238306
...              ...       ...       ...       ...
2001-10-31  0.820160  1.059085  2.081178  0.906344
2001-11-07 -0.035183  0.073224  0.179023  1.332004
2001-11-14 -0.810324  2.129532 -1.691720  0.422241
2001-11-21  0.000792 -1.598531  1.573085  0.874501
2001-11-28  1.689685  1.435954  1.264964 -1.701582

[100 rows x 4 columns]

In [23]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -1.638944 -0.812267  0.099187  0.815785
2001-05-09 -1.753691 -0.055188 -0.682679 -0.505264
2001-05-16 -0.844090 -0.316166 -0.005764  1.418915
2001-05-23 -0.730874 -0.036289  0.379574 -0.471690
2001-05-30 -1.374204  1.148380  0.685869 -0.724069

### 有重複索引的時間序列

In [25]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-02', '2000-01-02',
               '2000-01-03'],
              dtype='datetime64[ns]', freq=None)

In [26]:
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [29]:
# 查找重複值
dup_ts.index.is_unique

False

In [30]:
dup_ts['1/3/2000'] # 沒有重複

4

In [31]:
dup_ts['1/2/2000'] # 重複

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [32]:
# 用時間截記的資料作聚合
grouped = dup_ts.groupby(level=0)

In [33]:
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [34]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## 11.3 日期區間、頻率和位移

In [35]:
ts

2011-01-02   -2.435188
2011-01-05   -0.553403
2011-01-07    0.708294
2011-01-08   -1.689811
2011-01-10    0.615552
2011-01-12    1.776200
dtype: float64

In [ ]:
# 將沒有特定規律的樣本時間序列 轉換為以每日固定頻率
resampler = ts.resample('D')   # 'D'表示頻率為每天
resampler

### 產生區間日期

In [39]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [41]:
pd.date_range(start='2012-04-01', periods=20)   # 產生以每日為單位的時間截記

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [42]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [43]:
# 時間頻率: BM
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [44]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [45]:
# 指定開始/結束的時間，且把時間"統一"為午夜
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### 頻率和資料位移

In [46]:
from pandas.tseries.offsets import Hour, Minute

In [47]:
hour = Hour()
hour

In [49]:
four_hours = Hour(4)
four_hours

In [50]:
# 乘以幾倍, 直接放在基礎頻率前
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')  # 小時乘以4倍

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [51]:
# 加法合併
Hour(2) + Minute(30)

In [52]:
# 頻率字串代碼
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

### 每月的第幾週的星期幾