## 11.1 日期、時間日期型態以及工具

In [4]:
from datetime import datetime

now = datetime.now()
now

datetime.datetime(2021, 11, 2, 20, 56, 53, 937475)

In [6]:
now.year, now.month, now.day

(2021, 11, 2)

In [7]:
# 時間差: timedelta
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24,  8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [10]:
delta.days, delta.seconds

(926, 56700)

In [19]:
# 時間位移: datetime +(-) timedelta
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [20]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### 字串和時間日期轉換

In [22]:
# 時間轉成字串
stamp = datetime(2011, 1, 3)
str(stamp), stamp.strftime('%Y-%m-%d')

('2011-01-03 00:00:00', '2011-01-03')

In [23]:
# 字串轉成日期
value = '2011-01-03'

datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [24]:
# 字串轉成日期
datestrs = ['7/6/2011', '8/6/2011']

[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [27]:
# 字串拆解日期- dateutil - parser.parse
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [28]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [29]:
# 日期寫在月份前面
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [30]:
# pandas使用日期陣列
import pandas as pd
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [31]:
# 處理被視為遺失值的值
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [32]:
idx[2]

NaT

In [33]:
pd.isnull(idx)

array([False, False,  True])

## 11.2 時間序列基本概念

In [34]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), 
         datetime(2011, 1, 7), datetime(2011, 1, 8), 
         datetime(2011,1, 10), datetime(2011, 1, 12)]

In [36]:
import numpy as np
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02    0.413616
2011-01-05   -0.508535
2011-01-07   -0.406074
2011-01-08   -1.063470
2011-01-10   -0.560046
2011-01-12    0.276190
dtype: float64

In [41]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [42]:
ts + ts[::2]   # ::2 --> 每隔 2個元素做選取

2011-01-02    0.827233
2011-01-05         NaN
2011-01-07   -0.812149
2011-01-08         NaN
2011-01-10   -1.120092
2011-01-12         NaN
dtype: float64

In [46]:
ts.index.dtype    # 資料型態:Numpy 的 datetime64 ； 精確度:微秒

dtype('<M8[ns]')

In [48]:
stamp = ts.index[0]
stamp             # 取回的資料: pandas 的 Timestamp

Timestamp('2011-01-02 00:00:00')

### 索引、選取和相減